.button {
  border-radius: 20px;
  border: 2px solid;
  color: $primary-color;
  
  &.selected {
    color: $primary-color;
    box-shadow: none;
  }

  &--primary {
      color: $secondary-color;
  }

  &--muted {
      color: #ccc;
  }

  &--small {
    font-size: 12px;
    padding: 3px 5px;
    line-height: 14px;
  }
}

*:focus {
  outline: none !important;
}

.active {
  color: $secondary-color;
}
