.button,
.button:active,
.button:hover {
  border-radius: 20px;
  border: 2px solid;
  color: $primary-color;
  
  &--primary {
      color: $secondary-color;
  }

  &--muted {
      color: $dark-color;
  }
}

*:focus {
  outline: none !important;
}

.button:focus,
.active {
  color: $secondary-color;
}
