@mixin flex {
    display: flex;
}

.flex-column {
    @include flex();
    flex-direction: column
}

.flex-align-center {
    @include flex();
    align-items: center;
}

.flex-centered {
    @include flex();
    justify-content: center;
}

.flex-space-between {
    @include flex();
    justify-content: space-between;
}