
.ideas-list {

}

.idea {
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    flex-direction: column;
    position: relative;

    &__giver {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &__supporters {
        position: absolute;
        right: 100px;
        top: 10px;
    }
    
    &__content {
        padding: 40px 10px 10px 10px;
        text-align: center;
        position: relative;
        border: 2px solid $light-color;
        border-top: none;
        margin-top: 5px;
        overflow: hidden;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 215px;
    }

    &__title {
        font-size: 20px;
        margin: 10px 0;
    }
    &__text {
        font-size: 12px;
        margin: 10px 0;
    }
    &__giver {
        font-size: 11px;
        color: #4f4f4f;
    }

    &__cover {
        height: 215px;
        background: $light-color;
        background-size: cover;
        background-position: center;
        img {
            width: 100%;
        }
    }

    &__progress {
        margin: -40px;
        height: 80px;

        .progress-circle {
            background: #fff;
            border-radius: 50%;
            padding: 5px;
            width: 80px;

            &-inner {
                width: 100%;
                height: 100%;
                padding: 10px 0 0 0;
                font-size: 15px;
                border-radius: 50%;
                background: $light-color;
                text-align: center;

                & > span {
                    display: block;
                    font-size: 15px;
                    
                    &:first-child {
                        margin-right: 40px;
                        text-align: right;
                    }
                    &:last-child {
                        margin-left: 25px;
                        font-size: 25px;
                        line-height: normal;
                        margin-top: -2px;
                    }
                }
        
                .progress__separator {
                    height: 2px;
                    margin: 0 auto;
                    width: 50%;
                    background: #000;
                    display: block;
                    transform: rotate(-45deg)
                }

            }
        }

        
    }

    

}