<div class="filters flex-centered">
  <button class="btn button margin-left-and-rifht-xd" {{action 'changeFilter' '1'}}>
    My ideas
  </button>
  <button class="btn button margin-left-and-rifht-xd" {{action 'changeFilter' '2'}}>
    Popular
  </button>
  <button class="btn button margin-left-and-rifht-xd" {{action 'changeFilter' '3'}}>
    Supported
  </button>
  <button class="btn button margin-left-and-rifht-xd" {{action 'changeFilter' '4'}}>
    Completed
  </button>
</div>
