<div class="profile flex-column flex-align-center">
  <div class="avatar">
    <img class="avatar__image" alt="avatar" src={{user.avatarUrl}} />
  </div>
  <div class="profile__name">{{user.name}}</div>
  <div>{{user.kudosGiven}}/{{user.kudosAvailable}}</div>
</div>
